# Appending beneficial ownership data to KIR 2020 effort dataset

## Importing necessary packages and data

In [1]:
import pandas as pd
import geopandas as gpd
import os
os.getcwd()

'/home/jovyan/PNACaseStudy'

In [2]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
csv_directory = '/home/jovyan/PNACaseStudy'

In [4]:
effort = gpd.read_file('KIR_2020_identity.shp')

DriverError: KIR_2020_identity.shp: No such file or directory

In [5]:
beneficial = pd.read_excel('Final_VesselList.xlsx')

## Tidying and merging data

In [6]:
# Viewing column names to determine which will be removed for mapping 
print(beneficial.columns.tolist())

['mmsi', 'n_shipname', 'imo', 'flag', 'length_m', 'tonnage_gt', 'engine_pow', 'owner_gfw', 'owner_flag', 'source_cod', 'owner', 'owner_address', 'owner_source', 'corporate_actor', 'corporate_actor_source_1', 'corporate_actor_source_2', 'corporate_actor_source_3', 'corporate_actor_source_4', 'corporate_actor_source_5', 'beneficial_owner', 'beneficial_owner_flag', 'subsidiaries_actor', 'subsidiaries_parent', 'SA_actor', 'SA_parent', 'subsidiaries_and_affiliates', 'beneficial_owner_and_subsidiaries_source_1', 'benficial_owner_and_subsidiaries_source_2', 'beneficial_owner_and_subsidiaries_source_3', 'beneficial_owner_and_subsidiaries_source_4', 'beneficial_owner_and_subsidiaries_source_5', 'beneficial_owner_and_subsidiaries_source_6', 'beneficial_owner_and_subsidiaries_source_7', 'beneficial_owner_and_subsidiaries_source_8', 'remarks_1', 'remarks_2', 'RFV_listed', 'MSC_F_31245', 'MSC_F_31441', 'MSC_F_30076', 'MSC_F_31362 (MSC_C_53088)', 'MSC_cert']

In [7]:
print(effort.columns.tolist())

['mmsi', 'date', 'cell_ll_la', 'cell_ll_lo', 'hours', 'fishing_ho', 'flag_gfw', 'flag_ais', 'vessel_cla', 'vessel_rec', 'n_shipname', 'n_callsign', 'imo', 'flag', 'geartype', 'length_m', 'tonnage_gt', 'engine_pow', 'owner', 'owner_flag', 'source_cod', 'geometry']

### Abandoned code - merging Caribe vessels by MMSI

In [9]:
# Troubleshooting identity spoofing
# I want to know if the mmsi number I found for the rogue vessel exists in the effort dataset
#mmsi_444000124_present = (effort['mmsi'] == 444000124).any()

#if mmsi_444000124_present:
  #  print("MMSI 444000124 is present in the 'effort' dataset.")
#else:
   # print("MMSI 444000124 is not present in the 'effort' dataset.")

MMSI 444000124 is present in the 'effort' dataset.

In [25]:
# Give all 'Caribe' vessels the same 'flag_gfw'
#filtered_df.loc[filtered_df['mmsi'] == 444000124, 'flag_gfw'] = filtered_df.loc[filtered_df['mmsi'] == 572381220, 'flag_gfw'].values[0]

In [11]:
# Change the mmsi values of all 'Caribe' vessels from '444000124' to '572381220'
#effort['mmsi'] = effort['mmsi'].replace({444000124: 572381220})

In [12]:
# Check the replacement worked (should drop from 157 to 156 unique vessels)
#effort['mmsi'].nunique()

156

### Continue Tidying

In [8]:
# Dropping columns from 'beneficial' that already exist in 'effort'

# Loop through columns in 'beneficial'
columns_to_drop = []
for column in beneficial.columns:
    if column in effort.columns and column != 'mmsi':
        columns_to_drop.append(column)
        print(column)

# Drop duplicate columns
beneficial = beneficial.drop(columns=columns_to_drop)

n_shipname
imo
flag
length_m
tonnage_gt
engine_pow
owner_flag
source_cod
owner

In [9]:
# Check the drop worked 
print(beneficial.columns.tolist())

['mmsi', 'owner_gfw', 'owner_address', 'owner_source', 'corporate_actor', 'corporate_actor_source_1', 'corporate_actor_source_2', 'corporate_actor_source_3', 'corporate_actor_source_4', 'corporate_actor_source_5', 'beneficial_owner', 'beneficial_owner_flag', 'subsidiaries_actor', 'subsidiaries_parent', 'SA_actor', 'SA_parent', 'subsidiaries_and_affiliates', 'beneficial_owner_and_subsidiaries_source_1', 'benficial_owner_and_subsidiaries_source_2', 'beneficial_owner_and_subsidiaries_source_3', 'beneficial_owner_and_subsidiaries_source_4', 'beneficial_owner_and_subsidiaries_source_5', 'beneficial_owner_and_subsidiaries_source_6', 'beneficial_owner_and_subsidiaries_source_7', 'beneficial_owner_and_subsidiaries_source_8', 'remarks_1', 'remarks_2', 'RFV_listed', 'MSC_F_31245', 'MSC_F_31441', 'MSC_F_30076', 'MSC_F_31362 (MSC_C_53088)', 'MSC_cert']

In [10]:
# Merging the two data frames based on mmsi
merged_df = pd.merge(effort, beneficial, on='mmsi', how='left')

In [11]:
# Checking that the merge worked
print(merged_df.columns.tolist())

['mmsi', 'date', 'cell_ll_la', 'cell_ll_lo', 'hours', 'fishing_ho', 'flag_gfw', 'flag_ais', 'vessel_cla', 'vessel_rec', 'n_shipname', 'n_callsign', 'imo', 'flag', 'geartype', 'length_m', 'tonnage_gt', 'engine_pow', 'owner', 'owner_flag', 'source_cod', 'geometry', 'owner_gfw', 'owner_address', 'owner_source', 'corporate_actor', 'corporate_actor_source_1', 'corporate_actor_source_2', 'corporate_actor_source_3', 'corporate_actor_source_4', 'corporate_actor_source_5', 'beneficial_owner', 'beneficial_owner_flag', 'subsidiaries_actor', 'subsidiaries_parent', 'SA_actor', 'SA_parent', 'subsidiaries_and_affiliates', 'beneficial_owner_and_subsidiaries_source_1', 'benficial_owner_and_subsidiaries_source_2', 'beneficial_owner_and_subsidiaries_source_3', 'beneficial_owner_and_subsidiaries_source_4', 'beneficial_owner_and_subsidiaries_source_5', 'beneficial_owner_and_subsidiaries_source_6', 'beneficial_owner_and_subsidiaries_source_7', 'beneficial_owner_and_subsidiaries_source_8', 'remarks_1', 'remarks_2', 'RFV_listed', 'MSC_F_31245', 'MSC_F_31441', 'MSC_F_30076', 'MSC_F_31362 (MSC_C_53088)', 'MSC_cert']

In [12]:
len(merged_df)

180871

In [13]:
# Filtering out rows where fishing_ho equals 0
filtered_df = merged_df[merged_df['fishing_ho'] != 0]

# Print the filtered DataFrame
print(filtered_df)

             mmsi        date  cell_ll_la  cell_ll_lo   hours  fishing_ho  \
2       412439604  2020-09-19        -4.1       173.5  0.6422      0.1450
5       544124120  2020-09-22        -4.1       174.5  2.2516      1.6033
6       412371222  2020-01-23        -4.1       174.6  0.6397      0.6397
8       538060008  2020-09-20        -4.1       174.6  1.9733      1.9733
11      416253900  2020-07-28        -4.1       174.4  3.3338      2.2352
...           ...         ...         ...         ...     ...         ...
180777  572975210  2020-02-16         4.3      -161.6  2.9877      2.9877
180798  572975210  2020-02-16         4.4      -161.5  4.1386      2.9347
180799  572975210  2020-02-16         4.4      -161.4  3.9136      0.8833
180803  529440000  2020-06-23         4.4      -161.8  6.1908      1.1650
180804  303343000  2020-02-05         4.6      -161.7  1.2300      1.2300

       flag_gfw flag_ais         vessel_cla  \
2           CHN      CHN  tuna_purse_seines
5           NRU      NRU  tuna_purse_seines
6           CHN      CHN  tuna_purse_seines
8           MHL      MHL  tuna_purse_seines
11          TWN      TWN  tuna_purse_seines
...         ...      ...                ...
180777      TUV      TUV  tuna_purse_seines
180798      TUV      TUV  tuna_purse_seines
180799      TUV      TUV  tuna_purse_seines
180803      KIR      KIR  tuna_purse_seines
180804      USA      USA  tuna_purse_seines

                                               vessel_rec  ...  \
2                        FFA-35019|IMO-8996176|WCPFC-4431  ...
5            FFA-35772|IMO-9417397|USA-1214250|WCPFC-4611  ...
6                       FFA-36739|IMO-9808687|WCPFC-11438  ...
8                        FFA-35339|IMO-9349899|WCPFC-5143  ...
11                      FFA-36646|IMO-9764271|WCPFC-11247  ...
...                                                   ...  ...
180777          FFA-4705|IMO-8102921|IOTC-8415|WCPFC-2245  ...
180798          FFA-4705|IMO-8102921|IOTC-8415|WCPFC-2245  ...
180799          FFA-4705|IMO-8102921|IOTC-8415|WCPFC-2245  ...
180803                   FFA-22889|IMO-8003230|WCPFC-2244  ...
180804  FFA-25957|IATTC-4117|IMO-9018892|USA-962922|WC...  ...

       beneficial_owner_and_subsidiaries_source_7  \
2                                             NaN
5                                             NaN
6         https://www.skmic.sh.cn/en/company.html
8                                             NaN
11                                            NaN
...                                           ...
180777                                        NaN
180798                                        NaN
180799                                        NaN
180803                                        NaN
180804                                        NaN

       beneficial_owner_and_subsidiaries_source_8  \
2                                             NaN
5                                             NaN
6                                             NaN
8                                             NaN
11                                            NaN
...                                           ...
180777                                        NaN
180798                                        NaN
180799                                        NaN
180803                                        NaN
180804                                        NaN

                                                remarks_1  \
2                              Linked to observer deaths.
5       Tsai Chen Hao (or Howard Tsai) is the operatio...
6       Available information on website changes depen...
8       "MIMRA has a joint venture with Koo's Fishing ...
11      Vessel name: changed from KWILA 888, checked w...
...                                                   ...
180777         Vessel name: checked with Marine Traffic.
180798         Vessel name: checked with Marine Traffic.
180799         Vessel name: checked with Marine Traffic.
180803                   Address led to Sajo Industries
180804  CAPE Elizabeth FISHING LP Same address as Tri ...

                                                remarks_2 RFV_listed  \
2                                                     NaN          Y
5       Connection to Konstantinos Barkas and South Pa...          Y
6                                                     NaN          Y
8                                                     NaN          Y
11                                                    NaN          Y
...                                                   ...        ...
180777                                                NaN          Y
180798                                                NaN          Y
180799                                                NaN          Y
180803                                                NaN          Y
180804                                                NaN          Y

        MSC_F_31245  MSC_F_31441  MSC_F_30076 MSC_F_31362 (MSC_C_53088)  \
2                 N            N            N                         Y
5                 N            N            N                         Y
6                 N            N            N                         Y
8                 N            N            N                         Y
11                N            N            N                         Y
...             ...          ...          ...                       ...
180777            N            N            N                         Y
180798            N            N            N                         Y
180799            N            N            N                         Y
180803            N            N            N                         Y
180804            Y            N            N                         Y

       MSC_cert
2             Y
5             Y
6             Y
8             Y
11            Y
...         ...
180777        Y
180798        Y
180799        Y
180803        Y
180804        Y

[21663 rows x 54 columns]

In [14]:
len(filtered_df)

21663

## Troubleshooting flag columns

In [15]:
# Deciding which flag column to use for analysis
# Seeing if flag state differs for each mmsi across columns

# Select relevant columns
flag_columns = ['imo', 'flag_gfw', 'flag_ais', 'flag']

# Create a new DataFrame with the selected columns
flag_comparison_df = filtered_df[flag_columns]

# Group by 'mmsi' and check if there are differing flag codes
differing_flags = flag_comparison_df.groupby('imo').nunique()

# Filter rows where the number of unique flags is greater than 1
differing_flags = differing_flags[differing_flags['flag'] > 1]

# Display the rows where differing flags are observed
print(differing_flags)

           flag_gfw  flag_ais  flag
imo
9745823.0         2         1     2
9771951.0         2         1     2

In [16]:
# Here, I am checking which vessels are missing flags

# Select relevant columns
flag_columns = ['imo', 'flag_gfw', 'flag_ais', 'flag']

# Group by 'imo' and iterate through each group
for group_name, group_df in filtered_df.groupby('imo')[flag_columns]:
    imo_value = group_name
    flags = group_df[['flag_gfw', 'flag_ais', 'flag']].iloc[0].to_dict()

    # Check for null values in the flags
    if any(pd.isnull(flag) for flag in flags.values()):
        print(f"imo value {imo_value} has null flag values: {flags}")
        
# I will use 'flag_gfw' in my analysis. Flags do not differ across columns, and 'flag_gfw' (and 'flag') have no null values.

imo value 9386665.0 has null flag values: {'flag_gfw': 'KOR', 'flag_ais': None, 'flag': 'KOR'}
imo value 9745823.0 has null flag values: {'flag_gfw': 'NRU', 'flag_ais': None, 'flag': 'NRU'}
imo value 9746281.0 has null flag values: {'flag_gfw': 'NRU', 'flag_ais': None, 'flag': 'NRU'}
imo value 9771951.0 has null flag values: {'flag_gfw': 'NRU', 'flag_ais': None, 'flag': 'NRU'}

In [19]:
# Remnant of troubleshooting issue with 'flag_gfw'.

null_flag_gfw_rows = filtered_df[filtered_df['flag_gfw'].isnull()]
unique_null_shipnames = null_flag_gfw_rows['mmsi'].unique()

if not null_flag_gfw_rows.empty:
    print(f"There are {len(unique_null_shipnames)} unique 'n_shipname' values with null 'flag_gfw' values.")
    print(unique_null_shipnames)
else:
    print("There are no null values under the 'flag_gfw' column.")

There are no null values under the 'flag_gfw' column.

In [18]:
# Give all 'Caribe' vessels the same 'flag_gfw'
filtered_df.loc[filtered_df['mmsi'] == 444000124, 'flag_gfw'] = filtered_df.loc[filtered_df['mmsi'] == 572381220, 'flag_gfw'].values[0]

In [20]:
# Count the unique values in the 'mms' and 'imo' columns
unique_count_mmsi = filtered_df['mmsi'].nunique()
unique_count_imo = filtered_df['imo'].nunique()

print("Number of unique 'mmsi' values:", unique_count_mmsi)
print("Number of unique 'imo' values:", unique_count_imo)

Number of unique 'mmsi' values: 148
Number of unique 'imo' values: 145

In [21]:
del merged_df

## Calculating effort (and # of vessels for columns other than imo) by main company, company flag, vessel flag, MSC certification, and mmsi.

In [32]:
# Calculating annual fishing hours and hours for each vessel, company, flag, company flag, and MSC certification

fields = filtered_df[['beneficial_owner', 'flag_gfw', 'beneficial_owner_flag', 'imo', 'mmsi', 'MSC_F_31245', 'MSC_F_31441', 'MSC_F_30076', 'MSC_F_31362 (MSC_C_53088)', 'MSC_cert']]

combined_df = pd.DataFrame() # empty df to store the results

result_dfs = {} # empty dictionary to store the dfs

for field in fields:
    
    if field == 'mmsi' or field == 'imo':
        df = filtered_df.groupby(field).agg({'hours': 'sum', 'fishing_ho': 'sum'}).reset_index()
        df.columns = [field, 'annual_hours', 'annual_fishing_hours']
        
    #elif field == 'imo':
        #df = filtered_df.groupby(field).agg({'hours': 'sum', 'fishing_ho': 'sum'}).reset_index()
        #df.columns = [field, 'annual_hours', 'annual_fishing_hours']
    
    elif field.startswith('MSC'):
        df = filtered_df.groupby(field).agg({'hours': 'sum', 'fishing_ho': 'sum', 'imo': 'nunique', 'beneficial_owner': 'nunique'}).reset_index()
        df.columns = [field, 'annual_hours', 'annual_fishing_hours', 'vessel_count', 'company_count']
    
    else:
        df = filtered_df.groupby(field).agg({'hours': 'sum', 'fishing_ho': 'sum', 'imo' : 'nunique'}).reset_index()
        df.columns = [field, 'annual_hours', 'annual_fishing_hours', 'vessel_count']
        
    # Save the result df to the dictionary
    result_dfs[field] = df

    # Concatenate the current df with the combined df
    combined_df = pd.concat([combined_df, df], ignore_index=True)

    # Checking that the aggregation worked
    print(f"Results for {field}:\n{df.head(5)}\n")

Results for beneficial_owner:
                                    beneficial_owner  annual_hours  \
0                                 AFT Holdings, Inc.     2287.2778
1                                       Bolton Group     1181.4145
2                      Bright Food (Group) Co., Ltd.    17088.6324
3                     Caroline Fisheries Corporation      233.4445
4  China National Agricultural Development Group ...     3389.5310

   annual_fishing_hours  vessel_count
0             1631.2503             5
1              841.8735             7
2            11515.7207            11
3              158.6865             4
4             2494.4482             2

Results for flag_gfw:
  flag_gfw  annual_hours  annual_fishing_hours  vessel_count
0      CHN    23312.2346            16196.8133            13
1      ECU      894.4141              613.2148             3
2      ESP        1.9327                1.4136             1
3      FSM     4548.8524             3138.2150            15
4      JPN       16.7549               12.8935             2

Results for beneficial_owner_flag:
  beneficial_owner_flag  annual_hours  annual_fishing_hours  vessel_count
0                   CHN    31332.3380            21541.7842            19
1                   ESP      446.5229              316.6715             4
2                   FSM      253.4422              170.3933             5
3                   HKG     1475.2152              995.3919             4
4                   ITA     1181.4145              841.8735             7

Results for imo:
         imo  annual_hours  annual_fishing_hours
0  6717801.0        4.3530                4.3530
1  7508893.0        9.8475                5.8462
2  7514842.0      245.9768              168.8651
3  7641580.0     1164.8131              969.9943
4  7803255.0      144.7344              119.9596

Results for mmsi:
        mmsi  annual_hours  annual_fishing_hours
0  224523000        1.9327                1.4136
1  303343000       52.4886               43.7911
2  338013000       64.5733               51.7672
3  338712000      162.3318              125.7483
4  338793000      198.5785              156.4493

Results for MSC_F_31245:
  MSC_F_31245  annual_hours  annual_fishing_hours  vessel_count  company_count
0           N    72993.1883            50659.7382           140             44
1           Y      620.7699              465.2461             5              1

Results for MSC_F_31441:
  MSC_F_31441  annual_hours  annual_fishing_hours  vessel_count  company_count
0           N    72052.6237            50048.6213           135             44
1           Y     1561.3345             1076.3630            10              1

Results for MSC_F_30076:
  MSC_F_30076  annual_hours  annual_fishing_hours  vessel_count  company_count
0           N    59298.6973            40834.2459           132             42
1           Y    14315.2609            10290.7384            13              3

Results for MSC_F_31362 (MSC_C_53088):
  MSC_F_31362 (MSC_C_53088)  annual_hours  annual_fishing_hours  vessel_count  \
0                         N     4613.9842             2932.4397            22
1                         Y    68618.1041            47938.6204           124

   company_count
0             14
1             37

Results for MSC_cert:
  MSC_cert  annual_hours  annual_fishing_hours  vessel_count  company_count
0        N     4995.8541             3186.3639            23             15
1        Y    68618.1041            47938.6204           124             37

In [33]:
# Cross-checking total fishing effort across csv files and merged shapefile
# The MSC certifications will not amount to total annual effort because each covers a subsection of the fishery.
for field, df in result_dfs.items():
    total = df['annual_fishing_hours'].sum()
    print(f"Total effort for the {field} file {total} hours.")

Total effort for the beneficial_owner file 51124.9843 hours.
Total effort for the flag_gfw file 51124.984300000004 hours.
Total effort for the beneficial_owner_flag file 51124.9843 hours.
Total effort for the imo file 51124.9843 hours.
Total effort for the mmsi file 51124.9843 hours.
Total effort for the MSC_F_31245 file 51124.9843 hours.
Total effort for the MSC_F_31441 file 51124.9843 hours.
Total effort for the MSC_F_30076 file 51124.984300000004 hours.
Total effort for the MSC_F_31362 (MSC_C_53088) file 50871.0601 hours.
Total effort for the MSC_cert file 51124.9843 hours.

### Troubleshooting null 'imo' value

You will have to re-run effort calculations after assigning an imo number to 'Caribe'

In [30]:
null_imo_rows = filtered_df[filtered_df['imo'].isnull()]
unique_null_shipnames = null_imo_rows['mmsi'].unique()

if not null_imo_rows.empty:
    print(f"There are {len(unique_null_shipnames)} unique 'n_shipname' values with null 'imo' values.")
    print(unique_null_shipnames)
else:
    print("There are no null values under the 'imo' column.")

There are no null values under the 'imo' column.

In [27]:
# Give both Caribe vessels the same imo number
filtered_df.loc[effort['mmsi'] == 444000124, 'imo'] = effort.loc[effort['mmsi'] == 572381220, 'imo'].values[0]

### Saving output of calculations

In [35]:
# Save each df to a separate csv
for field, df in result_dfs.items():
    df.to_csv(f"{field}_Effort.csv", index=False)
    print(f"{field}_Effort.csv saved.")

beneficial_owner_Effort.csv saved.
flag_gfw_Effort.csv saved.
beneficial_owner_flag_Effort.csv saved.
imo_Effort.csv saved.
mmsi_Effort.csv saved.
MSC_F_31245_Effort.csv saved.
MSC_F_31441_Effort.csv saved.
MSC_F_30076_Effort.csv saved.
MSC_F_31362 (MSC_C_53088)_Effort.csv saved.
MSC_cert_Effort.csv saved.

## Adding annual hours and effort of each vessel to the main effort dataset.

In [36]:
df = filtered_df.groupby('imo').agg({'hours': 'sum', 'fishing_ho': 'sum'}).reset_index()

# Merge annual sums to the original DataFrame based on 'mmsi'
merged_df = pd.merge(filtered_df, df, on='imo', suffixes=('', '_sum'))

# Checking merge worked
merged_df.head(5)

,mmsi,date,cell_ll_la,cell_ll_lo,hours,fishing_ho,flag_gfw,flag_ais,vessel_cla,vessel_rec,...,remarks_1,remarks_2,RFV_listed,MSC_F_31245,MSC_F_31441,MSC_F_30076,MSC_F_31362 (MSC_C_53088),MSC_cert,hours_sum,fishing_ho_sum
0,412439604,2020-09-19,-4.1,173.5,0.6422,0.1450,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
1,412439604,2020-03-02,-4.1,176.5,5.2555,4.3694,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
2,412439604,2020-03-02,-4.1,176.4,5.7683,4.3713,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
3,412439604,2020-03-02,-4.0,176.5,2.7400,2.3875,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
4,412439604,2020-03-02,-4.0,176.4,3.0694,2.1052,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366

In [37]:
# Create new columns 'annual_hours' and 'annual_fishing_hours'
merged_df['ann_hrs'] = merged_df['hours_sum']
merged_df['ann_fsh_hrs'] = merged_df['fishing_ho_sum']

# Drop unnecessary columns
merged_df = merged_df.drop(['hours_sum', 'fishing_ho_sum'], axis=1)

# Checking new fields were added, and intermediate fields dropped
merged_df.head(5)

,mmsi,date,cell_ll_la,cell_ll_lo,hours,fishing_ho,flag_gfw,flag_ais,vessel_cla,vessel_rec,...,remarks_1,remarks_2,RFV_listed,MSC_F_31245,MSC_F_31441,MSC_F_30076,MSC_F_31362 (MSC_C_53088),MSC_cert,ann_hrs,ann_fsh_hrs
0,412439604,2020-09-19,-4.1,173.5,0.6422,0.1450,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
1,412439604,2020-03-02,-4.1,176.5,5.2555,4.3694,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
2,412439604,2020-03-02,-4.1,176.4,5.7683,4.3713,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
3,412439604,2020-03-02,-4.0,176.5,2.7400,2.3875,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366
4,412439604,2020-03-02,-4.0,176.4,3.0694,2.1052,CHN,CHN,tuna_purse_seines,FFA-35019|IMO-8996176|WCPFC-4431,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.557,855.6366

In [38]:
# Checking that no vessels were lost through processing
merged_df['imo'].nunique()

145

In [39]:
len(merged_df)

21663

In [40]:
# Exporting df as a csv
merged_df.to_csv("KIR_2020_Beneficial.csv")

In [41]:
# Converting 'merged_df' to a gdf
merged_df = gpd.GeoDataFrame(merged_df, geometry=gpd.points_from_xy(merged_df.cell_ll_lo, merged_df.cell_ll_la), crs="EPSG:4326")

In [42]:
type(merged_df)

geopandas.geodataframe.GeoDataFrame

In [43]:
# Exporting final effort dataset with beneficial ownership info and annual effort to shapefile
merged_df.to_file("KIR_2020_Beneficial.shp")

/tmp/ipykernel_343/2489858186.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_df.to_file("KIR_2020_Beneficial.shp")

# Pulling final list of active vessels

In [5]:
df = pd.read_csv('KIR_2020_Beneficial.csv')

In [6]:
# Drop duplicate rows based on the "imo" column
df_unique = df.drop_duplicates(subset=['imo'])

In [7]:
len(df_unique)

145

In [8]:
print(df_unique.columns.tolist())

['Unnamed: 0', 'mmsi', 'date', 'cell_ll_la', 'cell_ll_lo', 'hours', 'fishing_ho', 'flag_gfw', 'flag_ais', 'vessel_cla', 'vessel_rec', 'n_shipname', 'n_callsign', 'imo', 'flag', 'geartype', 'length_m', 'tonnage_gt', 'engine_pow', 'owner', 'owner_flag', 'source_cod', 'geometry', 'owner_gfw', 'owner_address', 'owner_source', 'corporate_actor', 'corporate_actor_source_1', 'corporate_actor_source_2', 'corporate_actor_source_3', 'corporate_actor_source_4', 'corporate_actor_source_5', 'beneficial_owner', 'beneficial_owner_flag', 'subsidiaries_actor', 'subsidiaries_parent', 'SA_actor', 'SA_parent', 'subsidiaries_and_affiliates', 'beneficial_owner_and_subsidiaries_source_1', 'benficial_owner_and_subsidiaries_source_2', 'beneficial_owner_and_subsidiaries_source_3', 'beneficial_owner_and_subsidiaries_source_4', 'beneficial_owner_and_subsidiaries_source_5', 'beneficial_owner_and_subsidiaries_source_6', 'beneficial_owner_and_subsidiaries_source_7', 'beneficial_owner_and_subsidiaries_source_8', 'remarks_1', 'remarks_2', 'RFV_listed', 'MSC_F_31245', 'MSC_F_31441', 'MSC_F_30076', 'MSC_F_31362 (MSC_C_53088)', 'MSC_cert', 'ann_hrs', 'ann_fsh_hrs']

In [9]:
# Output Excel file path
output_excel_file = "/home/jovyan/PNACaseStudy/KIR_2020_ActiveVessels.xlsx" 

# List of column names to remove
columns_to_remove = ["date", "cell_ll_la", "cell_ll_lo", "n_callsign", "vessel_cla", "geartype", "geometry", "hours", "fishing_ho"] 

# Remove the specified columns from the GeoDataFrame
df_unique = df_unique.drop(columns=columns_to_remove)

In [10]:
print(df_unique.columns.tolist())

['Unnamed: 0', 'mmsi', 'flag_gfw', 'flag_ais', 'vessel_rec', 'n_shipname', 'imo', 'flag', 'length_m', 'tonnage_gt', 'engine_pow', 'owner', 'owner_flag', 'source_cod', 'owner_gfw', 'owner_address', 'owner_source', 'corporate_actor', 'corporate_actor_source_1', 'corporate_actor_source_2', 'corporate_actor_source_3', 'corporate_actor_source_4', 'corporate_actor_source_5', 'beneficial_owner', 'beneficial_owner_flag', 'subsidiaries_actor', 'subsidiaries_parent', 'SA_actor', 'SA_parent', 'subsidiaries_and_affiliates', 'beneficial_owner_and_subsidiaries_source_1', 'benficial_owner_and_subsidiaries_source_2', 'beneficial_owner_and_subsidiaries_source_3', 'beneficial_owner_and_subsidiaries_source_4', 'beneficial_owner_and_subsidiaries_source_5', 'beneficial_owner_and_subsidiaries_source_6', 'beneficial_owner_and_subsidiaries_source_7', 'beneficial_owner_and_subsidiaries_source_8', 'remarks_1', 'remarks_2', 'RFV_listed', 'MSC_F_31245', 'MSC_F_31441', 'MSC_F_30076', 'MSC_F_31362 (MSC_C_53088)', 'MSC_cert', 'ann_hrs', 'ann_fsh_hrs']

In [11]:
df_unique.head()

,Unnamed: 0,mmsi,flag_gfw,flag_ais,vessel_rec,n_shipname,imo,flag,length_m,tonnage_gt,...,remarks_1,remarks_2,RFV_listed,MSC_F_31245,MSC_F_31441,MSC_F_30076,MSC_F_31362 (MSC_C_53088),MSC_cert,ann_hrs,ann_fsh_hrs
0,0,412439604,CHN,CHN,FFA-35019|IMO-8996176|WCPFC-4431,FENGXIANG818,8996176.0,CHN,67.1,1152.0,...,Linked to observer deaths.,NaN,Y,N,N,N,Y,Y,1230.5570,855.6366
278,278,544124120,NRU,NRU,FFA-35772|IMO-9417397|USA-1214250|WCPFC-4611,CENTURYPRIDE,9417397.0,NRU,69.8,1416.0,...,Tsai Chen Hao (or Howard Tsai) is the operatio...,Connection to Konstantinos Barkas and South Pa...,Y,N,N,N,Y,Y,943.3182,623.1040
484,484,412371222,CHN,CHN,FFA-36739|IMO-9808687|WCPFC-11438,JINHUI58,9808687.0,CHN,71.3,1782.0,...,Available information on website changes depen...,NaN,Y,N,N,N,Y,Y,1407.1282,908.6893
821,821,538060008,MHL,MHL,FFA-35339|IMO-9349899|WCPFC-5143,KOOS102,9349899.0,MHL,68.8,1152.0,...,"""MIMRA has a joint venture with Koo's Fishing ...",NaN,Y,N,N,N,Y,Y,294.5679,209.8904
934,934,416253900,TWN,TWN,FFA-36646|IMO-9764271|WCPFC-11247,FONGKUO688,9764271.0,TWN,71.8,1369.8,...,"Vessel name: changed from KWILA 888, checked w...",NaN,Y,N,N,N,Y,Y,1139.3417,815.2734

In [47]:
# Save the filtered GeoDataFrame to an Excel file
output_sheet_name = "KIR_2020_ActiveVessels"
df_unique.to_excel(output_excel_file, sheet_name=output_sheet_name, index=False)

print("Excel file with filtered data saved successfully.")

Excel file with filtered data saved successfully.